@media screen { .nomobile { display: block; } }

@media handheld { .nomobile { display: none; } }


body {
	height: 100vh;
	margin: 0;
	background: rgb(42, 42, 42);
	color: white;
	font-family: 'Montserrat', 'Segoe UI', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
}

header img {
	width: 150px;
	height: auto;
}

header div {
	margin: 20px;
	text-align: center;
}

h1 {
	margin: 0px;
	font-weight: 600;
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	margin: 0;
	font-weight: 300;
}

section {
	width: 80%;
	margin: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	font-size: 1em;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}

em {
	font-weight: bolder;
	font-style: unset;
}

#pagetitle a {
	color: white;
}

a {
	color: rgb(169, 112, 255);
	text-decoration: unset;
	font-weight: bold;
	transition: opacity .3s;
}

a:hover {
	opacity: .6;
}

.hidden {
	display: none !important;
}

input[type="submit"] {
	width: 100px;
	height: 35px;
	border: none;
	border-radius: 5px;
	font-family: 'Montserrat', 'Segoe UI', sans-serif;
	font-size: 0.8em;
	font-weight: 500;
	cursor: pointer;
	opacity: .7;
	transition: opacity .3s;
}


input[type="button"] {
	max-width: 138px;
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	border-radius: 5px;
	color: rgb(30, 30, 30);
	font-family: 'Montserrat', 'Segoe UI', sans-serif;
	font-size: 0.6em;
	font-weight: 500;
	cursor: pointer;
	opacity: .7;
	transition: opacity .3s;
	text-align: center;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	opacity: 1;
}

input[type="tag"] {
	width: 72px;
	height: 25px;
	border: none;
	border-radius: 5px;
	font-family: 'Montserrat', 'Segoe UI', sans-serif;
	font-size: 0.6em;
	font-weight: 500;
	opacity: .62;
	transition: opacity .3s;
	text-align: center;
}

/**/	

#loading-page {
	margin: 100px;
}

#loading-page-icon {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 1s linear infinite;
	display: flex;
	margin: 0;
}

#loading-icon {
	border: 4px solid #f3f3f3; /* Light grey */
	border-top: 4px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 1s linear infinite;
	display: flex;
	margin: 0;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#result, #loading-result {
	width: 60%;
	margin-top: 5px;
	padding: 30px;
	border-radius: 15px;
	background-color: rgb(31, 31, 31);
	box-shadow: 2px 2px 10px 2px black;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
}

#result p {
	max-width: 1040px;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0px;
}

#result .result-emote {
	height: 40px;
	width: auto;
	margin-bottom: -5px;
	margin-right: 0;
}

#using {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: .25rem;
	margin-top: 1rem;
	width: 100%;
}

#using-text {
	font-size: .7em;
	text-align: center;
}

#using-card-space {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

#channel-cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: .25rem;
	margin-top: 1rem;
	position: relative;
	width: 90%;
	margin: 30px;
	margin-bottom: 0px;
	padding: 15px;
	border-radius: 15px;
	background-color: rgb(22, 22, 22);
	box-shadow: 2px 2px 10px 2px black;
}

.search-wrapper {
	display: flex;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
	font-size: 0.7em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

input {
	border-radius: 5px;
	font-size: 1rem;
	height: 30px;
	width: auto;
	align-self: center;
}

.channel-card {
	margin: 10px;
	padding: 10px;
	font-size: 0.7em;
	border-radius: 15px;
	background-color: rgb(37, 37, 37);
	box-shadow: 2px 2px 10px 2px black;	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.channel-card:hover {
	background-color: rgb(54, 54, 54);
	box-shadow: 0px 0px 10px 2px gray;	
	color: white;
	text-decoration: unset;
	font-weight: bold;
	transition: font-weight .5s;
	transition: background-color .5s;
	display: flexbox;
	cursor: pointer;
}

.channel-card .channel-info {
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
	align-items: center;
}

.channel-card:hover .twitch-popout {
	display:block;
  	animation-name: twitch-popout;
  	animation-duration: .25s;
	position: relative;
}

@keyframes twitch-popout {
	from {left:20px; top:0px; opacity: 0;}
	to  {left:0px; top:0px; opacity: 1;}
}

.live-channel-profile-image, .dead-channel-profile-image {
	border-radius: 100%;
	max-width: 50px;
	max-height: 50px;
}

.live-channel-profile {
	margin-right: 20px;
	width: 50px;
    height: 50px;            
    position: relative;
	border: 3px solid red;
	border-radius: 50%;
	animation: pulse 2s infinite;
}

.dead-channel-profile {
	margin-right: 20px;
	width: 50px;
    height: 50px;            
    position: relative;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.channel-name {
	overflow: hidden;
	text-overflow: ellipsis;
}

.twitch-popout{
	display:none;
	justify-content:center;
	align-items: center;
}

.twitch-logo{
	padding-top: 10px;
	width:30px;
}

#api-error {
	width: 80%;
	margin: 30px;
	display: inline-block;
	text-align: center;
}

#api-error-image {
	margin: 20px;
}

#api-error-message {
	font-size: 3em;
}

#emote-name-label {
	position: relative;
}

#emote-duplicate-entities {
	position: relative;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	align-items: flex-start;
}

#emote-duplicate-entity {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#emote-image-container {
	width: 148px;
	height: 148px;
	border-radius: 10px;
	background-color: rgb(25, 25, 25);
	box-shadow: 2px 2px 10px 2px black;
	display: flex;
	justify-content: center;
	align-items: center;
}

#emote-image {
	max-width: 128px;
	max-height: 128px;
}
	
#tag-label {
	padding-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	margin-top: 5px;
	border: none;
	border-radius: 5px;
	background-color: white;
	color: rgb(30, 30, 30);
	font-family: 'Montserrat', 'Segoe UI', sans-serif;
	font-size: 0.6em;
	font-weight: 500;
	opacity: .7;
	text-align: center;
	pointer-events: none;
}

#submit-tag-label {
	margin-top: 8px;
}

#alert {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	width: 800px;
	height: 30px;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
	color: black;
	font-size: 1em;
	text-align: center;
	padding: 2px 10px;
	transition: opacity .2s ease-out;
}

#url {
	width: 800px;
	cursor: pointer;
}

#user-not-found p,
#no-emote-duplicates p {
	max-width: 1040px;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#donation {
	font-size: 0.7em;
	font-weight: 300;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.emote {
	height: 30px;
	width: auto;
	margin-bottom: -5px;
	margin-right: 0;
}

#donation form {
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
	margin-right: 15px;
}

#paypal {
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	height: 25px;
	border-radius: 20px;
	background-color: rgb(255, 196, 57);
	font-size: 0.9em;
	font-weight: 600;
}

#socials {
	margin: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#socials img {
	align-items: center;
	padding: 30px;
	padding-top: 10px;
}

footer {
	width: 100%;
	margin-top: auto;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
}

footer #dev-links{
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
}

footer p {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.8em;
	font-weight: 200;
	margin: 1px;
}

footer a {
	font-weight: 400;
}

.github {
	height: 20px;
}

#gitImage {
	vertical-align: text-bottom;
}


/* Scrollbar */

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-thumb {
	background: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(77, 77, 77);
}

::-webkit-scrollbar-track {
	background: black;
}
