body {
	margin: 0;
	background: rgb(22, 22, 22);
	color: white;
	font-family: 'Montserrat', 'Segoe UI', sans-serif;
	font-size: 1.5em;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: inherit;
	width: 100%;
}

header img {
	width: 150px;
	height: auto;
}

header div {
	margin: 20px;
	text-align: center;
}

#title {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: inherit;
    width: 100%;
}

h1 {
	margin: 0px;
	font-weight: 600;
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	margin: 0;
	font-weight: 300;
}

section {
	width: 80%;
	margin: 30px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

p {
	font-size: 1em;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 10px;
}

em {
	font-weight: bolder;
	font-style: unset;
}

#pagetitle a {
	color: white;
}

a {
	color: rgb(169, 112, 255);
	text-decoration: unset;
	font-weight: bold;
	transition: opacity .3s;
}

a:hover {
	opacity: .6;
}

.hidden {
	display: none !important;
}

.disabled {
	pointer-events: none;
	opacity: .5 !important;
}

input[type="submit"] {
	width: 100px;
	height: 35px;
	border: none;
	border-radius: 5px;
	font-family: 'Montserrat', 'Segoe UI', sans-serif;
	font-size: 0.8em;
	font-weight: 500;
	cursor: pointer;
	opacity: .7;
	transition: opacity .3s;
}

input[type="button"] {
	max-width: 138px;
	height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	border-radius: 5px;
	color: rgb(30, 30, 30);
	font-family: 'Montserrat', 'Segoe UI', sans-serif;
	font-size: 0.6em;
	font-weight: 500;
	cursor: pointer;
	opacity: .7;
	transition: opacity .3s;
	text-align: center;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	opacity: 1;
}

/**/	

#loading-page {
	margin: 100px;
}

#loading-page-icon {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 1s linear infinite;
	display: flex;
	margin: 0;
}

#loading-icon {
	border: 4px solid #f3f3f3; /* Light grey */
	border-top: 4px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 1s linear infinite;
	display: flex;
	margin: 0;
}

.dot-windmill-page {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: rgb(226, 206, 255);
	color: rgb(169, 112, 255);
	transform-origin: 50% 150%;
	animation: dotWindmill 2s infinite linear;
  }
  
  .dot-windmill-page::before, .dot-windmill-page::after {
	content: '';
	display: inline-block;
	position: absolute;
  }
  
  .dot-windmill-page::before {
	left: -28.66px;
	top: 45px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: rgb(121, 37, 248);
	color: rgb(169, 112, 255);
  }
  
  .dot-windmill-page::after {
	left: 28.66px;
	top: 45px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: rgb(169, 112, 255);
	color: rgb(169, 112, 255);
  }

.dot-windmill {
  position: relative;
  top: -10px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(226, 206, 255);
  color: rgb(169, 112, 255);
  transform-origin: 50% 150%;
  animation: dotWindmill 2s infinite linear;
  margin: 10px
}

.dot-windmill::before, .dot-windmill::after {
  content: '';
  display: inline-block;
  position: absolute;
}

.dot-windmill::before {
  left: -8.66px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(121, 37, 248);
  color: rgb(169, 112, 255);
}

.dot-windmill::after {
  left: 8.66px;
  top: 15px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(169, 112, 255);
  color: rgb(169, 112, 255);
}

@keyframes dotWindmill {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotateZ(720deg) translate3d(0, 0, 0);
  }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#result, #loading-result {
	width: 60%;
	margin-top: 5px;
	padding: 30px;
	border-radius: 15px;
	background-color: rgb(37, 37, 37);
	box-shadow: 2px 2px 10px 2px black;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
}

#result p {
	max-width: 1040px;
	text-align: center;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0px;
}

#result .result-emote {
	height: 40px;
	width: auto;
	margin-bottom: -5px;
	margin-right: 0;
}

#using {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: .25rem;
	margin-top: 1rem;
	width: 100%;
}

#using-text {
	font-size: .7em;
	text-align: center;
}

#using-card-space {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

#markov-portal {
	margin-top: 1rem;
	position: relative;
	width: 90%;
	padding: 15px;
	border-radius: 15px;
	background-color: rgb(22, 22, 22);
}

#markov-portal-nav {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#stats-link {
    position: fixed;
    left: 2%;
    top: 2%;
	z-index: 1;
}

@media (max-width: 1020px) {
	section {
		width: 90%;
	}

	#description {
		font-size: 1.2em;
		margin-bottom: 10px;
	}

	#stats-link {
		left: 86% !important;
		top: 91.5% !important;
	}

	#nerdge {
		height: 100px !important;
	}

	#markov-portal,
	#channel-cards-container {
		width: 100%;
	}

	#random-button {
		font-size: .9em !important;
	}

	#markov-portal-nav {
		font-size: 1.5em;
	}

	.channel-card {
		padding: 20px 0px 20px 15px !important;
		font-size: 1.2em !important;
	}

	.live-channel-profile, .live-channel-profile-image,
	.dead-channel-profile, .dead-channel-profile-image {
		width: 70px !important;
		height: 70px !important;
		max-width: 70px !important;
		max-height: 70px !important;
	}

	#using-card-space {
		display: flex;
    	width: 100%;
    	justify-content: center;
    	align-items: center;
	}

	#using-card-space .channel-card {
		width: 70%;
	}

	#using-card-space .twitch-popout {
		margin-right: 30px;
		opacity: 1;
		right: 0px !important;
	}

	#using-card-space .twitch-logo {
		width: 50px;
	}

	#channel-cards-container .twitch-popout {
		display: none;
	}

	#result {
		width: 85%;
		font-size: 1.5em !important;
	}

	#using-text {
		font-size: 1.2em !important;
	}

	#search {
		height: 40px;
		width: 100%;
	}
}

#channel-cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: .25rem;
}

#search-wrapper {
	margin: 10px;
	padding: 10px;
	font-size: 0.7em;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

#search-wrapper label {
	margin-bottom: 10px;
}

input {
	border-radius: 5px;
	font-size: 1rem;
	height: 30px;
	width: auto;
	align-self: center;
}

#random-button {
	max-width: 100%;
    font-size: .8em;
	height: 2em;
	display: flex;
	justify-content: center;
  	align-content: center;
	background-color: rgb(147 94 227);
	opacity: 1;
	transition: opacity .3s;
}

#random-button:hover {
	opacity: .6;
}

.channel-card {
	margin: 10px;
	padding: 10px;
	font-size: 0.7em;
	border-radius: 15px;
	background-color: rgb(31, 31, 31);
	box-shadow: 2px 2px 10px 2px black;	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.channel-card:hover {
	background-color: rgb(54, 54, 54);
	box-shadow: 0px 0px 10px 2px gray;	
	color: white;
	text-decoration: unset;
	font-weight: bold;
	transition: font-weight .5s;
	transition: background-color .5s;
	display: flexbox;
	cursor: pointer;
}

.channel-card .channel-info {
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
	align-items: center;
}

.channel-card .twitch-popout {
	display: flex;
	position: relative;

	left: 20px;
	opacity: 0;
	transition: left .2s, opacity .2s;
}

.channel-card:hover .twitch-popout {
	top: 0px;
	left: 0px;
	opacity: 1;
	transition: left .2s, opacity .2s;
}

.twitch-logo{
	padding-top: 10px;
	width:30px;
	margin-right: 10px;
}

.live-channel-profile-image, .dead-channel-profile-image {
	border-radius: 100%;
	max-width: 50px;
	max-height: 50px;
}

.live-channel-profile {
	margin-right: 20px;
	width: 50px;
    height: 50px;            
    position: relative;
	border: 3px solid red;
	border-radius: 50%;
	animation: pulse 2s infinite;
}

.live-channel-caption {
	position: relative;
    text-align: center;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: red;
    top: -30%;
}

.dead-channel-profile {
	margin-right: 20px;
	width: 50px;
    height: 50px;            
    position: relative;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.channel-name {
	overflow: hidden;
	text-overflow: ellipsis;
}

#api-error {
	width: 80%;
	margin: 30px;
	display: inline-block;
	text-align: center;
}

#api-error-image {
	margin: 20px;
}

#api-error-message {
	font-size: 3em;
}

#donation {
	font-size: 0.7em;
	font-weight: 300;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

.emote {
	height: 30px;
	width: auto;
	margin-bottom: -5px;
	margin-right: 0;
}

#donation form {
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
	margin-right: 15px;
}

#paypal {
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	height: 25px;
	border-radius: 20px;
	background-color: rgb(255, 196, 57);
	font-size: 0.9em;
	font-weight: 600;
}

#socials {
	padding: 35px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 30%;
}

#socials img {
	width: 50px;
	height: auto;
}

footer {
	width: 100%;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	margin-top: 100px;
}

footer #dev-links{
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
}

footer p {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.8em;
	font-weight: 200;
	margin: 1px;
}

footer a {
	font-weight: 400;
}

.github {
	height: 20px;
}

#gitImage {
	vertical-align: text-bottom;
}

#announcement {
	font-size: 15px;
	color: black;
	background-color: yellow;
	animation: flashing 2s infinite;
	padding: 5px 10px;
}

@keyframes flashing {
	0% {
		opacity: .3;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: .3;
	}
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-thumb {
	background: rgb(35, 35, 35);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(77, 77, 77);
}